table
  tr
    td(class='label') Name:
    td
      input(type='text' name='name' required value='#{data[0].name}')
  tr
    td(class='label' valign='top') Address:
    td(valign='top')
      textarea(name='address' required cols='30' rows='5') #{data[0].address}
  tr
    td(class='label') Email:
    td
      input(type='text' name='email' required value='#{data[0].email}')
  tr
    td(class='label') Phone:
    td
      input(type='text' name='phone' required value='#{data[0].phone}')
  tr
    td(class='label')
    td
      input(type='submit' name='submit' value='Save')
      input(type='button' name='submit' value='Cancel' class='cancel')